<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-script minSpecVersion="1.000000" authoringTool="com.apple.PackageMaker" authoringToolVersion="3.0.5" authoringToolBuild="196.1">
    <title>Realtek PCI-E Ethernet Network Adapter</title>
    <options customize="never" allow-external-scripts="no" rootVolumeOnly="true"/>
    <volume-check script="pm_volume_check();"/>
    <script>function pm_volume_check() {
  if(!(my.target.systemVersion &amp;&amp; /* >= */ system.compareVersions(my.target.systemVersion.ProductVersion, '10.7.0') >= 0)) {
    my.result.title = 'Failure';
    my.result.message = 'Installation cannot proceed, as not all requirements were met.';
    my.result.type = 'Fatal';
    return false;
  }
  return true;
}



function pm_choice2_selected() {
  result = true;
  result = result &amp;&amp; (my.target.systemVersion &amp;&amp; /* >= */ system.compareVersions(my.target.systemVersion.ProductVersion, '10.6.0') >= 0);
  return result;
}


function pm_choice2_enabled() {
  result = true;
  result = result &amp;&amp; (my.target.systemVersion &amp;&amp; /* >= */ system.compareVersions(my.target.systemVersion.ProductVersion, '10.6.0') >= 0);
  return result;
}</script>
    <welcome file="Welcome"/>
    <readme file="ReadMe"/>
    <license file="License"/>
    <choices-outline>
        <line choice="choice2"/>
    </choices-outline>
    <choice id="choice2" title="dstroot" selected="pm_choice2_selected()" enabled="pm_choice2_enabled()">
        <pkg-ref id="com.realtek.eth"/>
    </choice>
    <pkg-ref id="com.realtek.eth" installKBytes="572" version="2.0.6" auth="Root" onConclusion="RequireRestart">file:./Contents/Packages/dstroot.pkg</pkg-ref>
</installer-script>